* {
    background-color: lightgreen;
}
a {
    text-decoration: none;
    color: tomato;
}
a:hover {
    text-decoration: underline;
    color: red;
}
#navbar {
    margin-right: 50px;
    padding: 10px;
    border-right: 10px solid black;
    font-size: 35px;
}
#image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}